"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "activate-power-mode"
    ]
  editor: {}
  "exception-reporting":
    userId: "79967b20-c933-87c9-85b8-ea6b20c3a648"
  "linter-puppet-lint":
    oldVersion: false
    skip140Chars: true
    skip80Chars: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  sunset:
    daytime_syntax_theme: "one-light-syntax"
    daytime_ui_theme: "one-light-ui"
    has_been_configured: true
    nighttime_syntax_theme: "one-dark-syntax"
    nighttime_ui_theme: "one-dark-ui"
    when_does_it_get_dark: 1630
    when_does_it_get_light: 900
  welcome:
    showOnStartup: false
